config:
  core.https_address: {{ ansible_default_ipv4.address }}:{{ lxd_https_port | default(8443) }}
  core.trust_password: {{ lxd_trust_password | default('') }}
  images.auto_update_interval: 6
networks:
- config:
    ipv4.address: {{ lxd_bridge_ipv4_address | default('10.0.0.1/24') }}
    ipv4.dhcp: "{{ lxd_bridge_ipv4_dhcp | default(true) | string | lower }}"
{% if lxd_bridge_ipv4_dhcp | default(true) %}
    ipv4.dhcp.ranges: {{ lxd_bridge_ipv4_dhcp_first | default('10.0.0.2') }}-{{ lxd_bridge_ipv4_dhcp_last | default('10.0.0.254') }}
{% endif %}
    ipv6.address: {{ lxd_bridge_ipv6_address | default('fd00:56ad:9f7a:9800::1/64') }}
    ipv6.nat: "{{ lxd_bridge_ipv6_nat | default(true) | string | lower }}"
  description: Default LXD bridge
  name: {{ lxd_bridge_name | default('lxdbr0') }}
  type: bridge
storage_pools:
- config:
{% if lxd_storage_backend == 'zfs' %}
    source: {{ lxd_zfs_pool_source | default('/var/lib/lxd/disks/default.img') }}
    size: {{ lxd_storage_size | default('50GB') }}
{% elif lxd_storage_backend == 'dir' %}
    source: {{ lxd_dir_source | default('/var/lib/lxd/storage-pools/default') }}
{% elif lxd_storage_backend == 'btrfs' %}
    source: {{ lxd_btrfs_source | default('/var/lib/lxd/disks/default.img') }}
    size: {{ lxd_storage_size | default('50GB') }}
{% elif lxd_storage_backend == 'lvm' %}
    source: {{ lxd_lvm_source | default('/var/lib/lxd/disks/default.img') }}
    size: {{ lxd_storage_size | default('50GB') }}
{% endif %}
  description: Default storage pool
  driver: {{ lxd_storage_backend | default('zfs') }}
  name: {{ lxd_storage_pool_name | default('default') }}
profiles:
- config: {}
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      network: {{ lxd_bridge_name | default('lxdbr0') }}
      type: nic
    root:
      path: /
      pool: {{ lxd_storage_pool_name | default('default') }}
      type: disk
  name: default
projects: []
cluster: null