---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: gough-alpha

namespace: gough-alpha

namePrefix: alpha-

commonLabels:
  environment: alpha

bases:
- ../../base

replicas:
  - name: api-manager
    count: 1
  - name: webui
    count: 1
  - name: worker-ipxe
    count: 1

images:
  - name: api-manager
    newTag: latest
  - name: webui
    newTag: latest
  - name: worker-ipxe
    newTag: latest

configMapGenerator:
  - name: gough-config
    behavior: merge
    literals:
      - LOG_LEVEL=DEBUG
      - RELEASE_MODE=false

secretGenerator:
  - name: gough-secrets
    behavior: merge
    literals:
      - ADMIN_PASSWORD=alpha-changeme123
