---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: gough-beta

namespace: gough-beta

namePrefix: beta-

commonLabels:
  environment: beta

bases:
- ../../base

replicas:
  - name: api-manager
    count: 2
  - name: webui
    count: 2
  - name: worker-ipxe
    count: 1

images:
  - name: registry-dal2.penguintech.io/gough/api-manager
    newTag: latest
  - name: registry-dal2.penguintech.io/gough/webui
    newTag: latest
  - name: registry-dal2.penguintech.io/gough/worker-ipxe
    newTag: latest

configMapGenerator:
  - name: gough-config
    behavior: merge
    literals:
      - LOG_LEVEL=INFO
      - RELEASE_MODE=false

secretGenerator:
  - name: gough-secrets
    behavior: merge
    literals:
      - ADMIN_PASSWORD=beta-changeme123
